@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
	/* --transition: all 0.7s ease;
	--yellow: #d2a169; */
	--dark: #797373;
}
body {
	line-height: 1.8;
	color: #ffffff;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;
}

.title-sm {
	font-size: 16px;
	letter-spacing: 1px;
}

a {
	font-weight: 700;
	transition: all 0.4s ease;
	text-decoration: none;
}

img {
	width: 100%;
}

small {
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	text-transform: uppercase;
}

section {
	padding-top: 100px;
	padding-bottom: 100px;
}

#navbar {
	overflow: hidden;
	background-color: #000000;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
}

.navbar {
	border-bottom: 1px solid rgba(253, 253, 253, 0.1);
}
.logo-text {
	font-size: 22px;
	text-transform: uppercase;
	color: #000000 !important;
}
.navbar .nav-link {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.navbar-light .navbar-nav .nav-link.active {
	color: #e93b81;
}

#home {
	background: linear-gradient(rgba(4, 4, 4, 0.8), rgba(39, 39, 39, 0.8)),
		url(background.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	display: flex;
	align-items: center;
}

#home h1 {
	font-weight: 700;
}

#home p {
	max-width: 550px;
	margin: 18px auto;
}

.btn {
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	padding: 12px 28px;
	border-radius: 0;
}

.btn-brand {
	background-color: #e9923b;
	color: #fffdfd;
}

.btn-brand:hover {
	background-color: #ce742f;
	color: #fff;
}

.title {
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 16px;
	color: white;
	border-bottom: 5px solid var(--dark);
	width: 25px;
	margin: 15px 0;
}

.book {
	background-color: rgba(25, 25, 25, 0.596);
	position: relative;
	left: 280px;
	top: 5px;
	line-height: 50px;
	width: 600px;
	border-radius: 5px;
	padding: 0 22px;
	font-size: 16px;
	color: black;
	margin-top: -200px;
}

.book-form input[type='submit'] {
	margin-top: 20px;
	background: rgb(0, 0, 0);
	color: #ffffff;
	border: 1px solid #000000;
}
.book-form label,
.book-form input {
	width: 100%;
}
.book-form label {
	font-weight: 600;
	word-spacing: 5px;
	padding-bottom: 8px;
}
.book-form input:not(.btn) {
	margin: 4px 0 16px 0;
	padding: 12px 15px;
	border-radius: 5px;
	font-size: 17px;
	border: none;
}
.book-form input:focus {
	outline: 0;
	box-shadow: 0 0 7px rgba(9, 9, 9, 0.4);
}

@media (min-width: 1370px) {
	.book {
		height: 40vh;
		display: grid;
	}
}
@media (max-width: 500px) {
	.book {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.section-intro .hline {
	width: 120px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 16px auto 0 auto;
}

.main {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 300px));
	column-gap: 10px;
	row-gap: 10px;
}

img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 50px;
}

section-intro {
	text-align: center;
	margin-bottom: 60px;
}

.section-intro .hline {
	width: 120px;
	height: 2px;
	background-color: rgba(0, 0, 0, 0.1);
	margin: 16px auto 0 auto;
}

.icon-box {
	width: 60px;
	height: 60px;
	background-color: #516694;
	color: #fff;
	border-radius: 4px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	flex: none;
}

* {
	box-sizing: border-box;
	font-family: Tahoma, Arial;
	padding: 0px;
	margin: 0px;
}

.slider-container {
	width: 720px;
	margin: auto;
	position: relative;
}

.slider-container .fade {
	animation-name: fade;
	animation-duration: 0.5s;
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.rooms {
	background-color: #828181;
	margin-top: 20px;
	padding: 100px;
}
.room {
	margin: 15px 0;
	padding-bottom: 25px;
	background: var(--light);
	color: #ffffff;
}
.room-text {
	padding: 5px 20px;
}
.room-text h3 {
	font-size: 24px;
}
.room-text ul {
	list-style-type: none;
	margin: 15px 0;
}
.room-text ul li {
	padding: 7px 0;
}
.room-text ul li i {
	color: rgb(0, 0, 0);
	margin-right: 10px;
}
.rate {
	opacity: 0.8;
}
.rate span {
	font-size: 40px;
	font-weight: 900;
	color: rgb(0, 0, 0);
}
.room-image {
	overflow: hidden;
}
.room-image img {
	transition: var(--transition);
	width: 80%;
	margin-left: 50px;
}
.room-image:hover img {
	transform: scale(1.1);
}

.room input[type='check'] {
	margin-top: 250px;
	background: rgb(0, 0, 0);
	color: #ffe6e6;
	border: 1px solid #000000;
}
@media (min-width: 900px) {
	.rooms-container {
		display: flex;
		flex-wrap: wrap;
	}
	.room {
		flex: 0 0 calc(50% - 20px);
		margin: 10px;
	}
}
@media (min-width: 1370px) {
	.rooms-container {
		flex-direction: column;
	}
	.room {
		display: flex;
		padding-bottom: 0;
		margin: 5px 0;
	}
	.room-image {
		flex: 1;
	}
	.room-image img {
		height: 100%;
	}
	.room-text {
		flex: 1;
	}
	.room:nth-child(even) {
		flex-direction: row-reverse;
	}
}

.customers {
	margin-top: 40px;
	padding: 40px 0;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('background.jpg') center/cover no-repeat fixed;
}
.customer {
	background: #fffdfd;
	padding: 35px;
	text-align: center;
	margin: 24px 0;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
	cursor: pointer;
	transition: var(--transition);
}
.rating {
	margin: 10px 0;
	color: rgb(255, 186, 107);
}
.customer h3 {
	font-size: 25px;
}
.customer p {
	opacity: 0.7;
	line-height: 1.8;
	width: 60%;
	margin: 0 auto;
}
.customer img {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin: 25px auto;
}
.customer span {
	font-weight: 700;
	opacity: 0.7;
}
.customer:hover {
	transform: translateY(-18px);
}
@media (min-width: 992px) {
	.customers-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}
}
@media (min-width: 1370px) {
	.customers-container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width: 500px) {
	.customer p {
		width: 100%;
	}
	.customer img {
		width: 100px;
		height: 100px;
	}
}

/* footer */
.footer {
	background: var(--dark);
	color: #fff;
	text-align: center;
}
.footer-container {
	width: 85vw;
	margin: 0 auto;
	padding: 30px 0;
}
.footer-container p,
.footer-container a,
.footer-container span {
	opacity: 0.8;
}
.footer a {
	display: block;
	color: #fff;
	text-decoration: none;
}
.social-icons {
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 15px 0;
}
.social-icons li {
	margin: 0 10px;
	width: 50px;
	height: 50px;
	background: #2e2e2e;
	border-radius: 50%;
	transition: var(--transition);
	cursor: pointer;
}
.social-icons li:hover {
	background: #fff;
	color: #2e2e2e;
}
.contact-item span {
	display: block;
}
@media (min-width: 900px) {
	.footer-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}
}
@media (min-width: 1170px) {
	.footer {
		text-align: left;
	}
	.footer-container {
		grid-template-columns: repeat(4, 1fr);
	}
	.footer-container div:nth-child(1) p {
		padding-right: 20px;
	}
	.contact-item {
		display: grid;
		grid-template-columns: 10% 90%;
		margin-bottom: 15px;
		align-items: center;
	}
}

.showModal {
	position: fixed;
	background: transparent;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;
}
